.mypy_cache
Thumbs.db
*.pyc
__pycache__
/out_*/
/accs23_pub_figs/fonts/*.ttf
/accs23_pub_figs/figs/zstack_gallery/input_data/PML*/raw_data/*.tif
/accs23_pub_figs/figs/*/cache/*.tif
/accs23_pub_figs/figs/*/cache/*.pickle
